
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    color: #666666;
    font-family: Roboto;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, figure{
    padding: 0;
    margin: 0;
}

h2{
    margin: 10px 0;
}

li{
    list-style-type: none;
}

.header_social-icon, .header_logo, .header_nav, .main, .footer, small{
    max-width: 1240px;
    min-width: 360px;

    padding: 10px calc(50% - 620px);

}


/*Второй способ*/
/*.header_social-icon, .header_logo, .header_nav, .main, footer, small{*/
    /*width: 100%;*/
    /*position: relative;*/
/*}*/

/*.header_social-icon::after, .header_logo::after, .header_nav::after, .main::after, footer::after, small::after{*/
    /*content: '';*/
    /*display: block;*/
    /*height: 100%;*/
    /*width: 100vw;*/
    /*background-color: inherit;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*z-index: -1;*/
    /*margin: auto;*/
    /*left: -50vw;*/
    /*right: -50vw;*/

/*}*/




.header_social-icon{
    background: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small_social_icon{
    width: 20px;
    height: 16px;
    fill: currentColor;
}

.enter{
    display: flex;
    margin: 0 20px;
}

.enter a{
    display: flex;
    padding-right: 40px;
    margin-right: 40px;
    border-right: 1px solid #666666;
}

.enter a:hover, .icon_kontakts a:hover, .header_nav li:hover{
    text-decoration: underline;
}
.enter a:hover{
    color: #dc699b;
}

.enter span{
    padding-left: 5px;
}

.social_networks{
    margin-right: 40px;
}
.social_networks svg{
    padding: 0 15px;
}

.small_social_icon:hover{
    fill: #dc699b;
}

.header_logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.icon_kontakts{
    display: flex;
}

.icon_kontakts a{
    display: flex;
    padding: 10px 0;
}

.icon_kontakts svg{
    padding-right: 5px;
}

.icon_kontakts span{
    padding-right: 10px;
}

.header_icon{

    width: 90px;
    height: 90px;
    margin-right: 10px;
}


.kontakts{
    flex-basis: 50%;
}

.search{
    display: flex;
}

.search input{
    border:  1px solid #c3c3c3;
    border-right: none;
    flex-basis:  100%;
    outline: none;
    padding: 10px;
}


.search input:focus::placeholder{
    opacity: 0;
    transition: opacity 0.3s ease;
}

.search button{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.icon_shopping_cart{
    fill: #dc699b;
    width: 30px;
    height: 30px;
    margin:  10px 20px;
}

.icon_shopping_cart:hover{
    fill: #9a82df;
}
.output_basket {
    padding-left: 20px;
}

.basket{
    border: 1px solid #c3c3c3;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 20px;
}

.basket span{
    border-right: 1px solid #c3c3c3;
    padding: 20px;
}

.cart{
    position: relative;
}

.cart::after{
    content: attr(data-count);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #232a6d;
    color: #ffffff;
    position: absolute;
    bottom: 55px;
    right: 25px;
}

.mobile_icon{
    width: 40px;
    height: 40px;
    fill: #ffffff;
    margin: 10px 20px;
}

.link_mobile_icon{
    display: none;
}

.header_nav{
    font-size: 18px;
    background: #dc699b;
}

.header_nav ul{
    display: flex;
}

.header_nav li{

    border-right: 1px solid #ffffff;
    color: #ffffff;
    padding: 10px 70px;
}

.header_nav li:last-child, .enter a:last-child{
    border: none;
}


.main{
    display: flex;
}
main{
    min-width: 0;
    width: 100%;
    min-height: 0;
}
.slick-initialized .slick-slide {
    display: flex !important;
    align-content: center !important;
}

aside{
    width: 340px;

    margin: 0 10px 0 20px;
   
}

.icon_categories{
    fill: currentColor;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.categories a{
    display: flex;
    align-items: center;
}

.categories li{
    border: 1px solid #c3c3c3;
    border-top: none;
    background: #f4f4f4;
    color: #9a82df;
    padding: 10px 25px;
}

.categories li:hover{
    background: #ffffff;
    color: #dc699b;
    transform: scale(1.05);
    border: 1px solid #9a82df;
    box-shadow: 0 0 10px rgb(147, 140, 221);
}

.produkt_categories{
    font-size: 20px;
    border: 1px solid #c3c3c3;
    margin: 0;
    background: #9a82df;
    color: #ffffff;
    padding: 20px 25px;

}

main{
    margin: 0 20px;
    order: 1;
}

.main{

    margin: 10px 0;
    order: 1;
}

.img_baner{
    display: block;
    width: 100%;
    height: 100%;
    margin: 10px 0;
    transition: transform .65s ease-in;
}

.img_baner:hover{
    transform: scale(1.05);
}


.all_slider{
    border: 1px solid #c3c3c3;


}
.slider{

    display: flex;
    align-items: center;


    margin: 10px 50px;


}

.slider_text{
   display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin-left: 10px;

}



.slider_name{
    font-size: 25px;
}

.slider_img{
    width: 500px;
    height: 270px;
}




.button_buy{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: 1px solid;
    width: 200px;
}

.button_buy:hover{
    color: #8ba98f;
    transform: scale(1.05);
    border: 1px solid;
    box-shadow: 0 0 10px rgb(145, 166, 143);
}

.advertising_img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.offers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 20px 0;
}

.offers a{

    border: 1px solid #c3c3c3;
    padding: 15px;
    width: calc(100%/3 - 45px);


}

.offers a:hover{
    transform: scale(1.05);
    border: 1px solid #8ba98f;
    box-shadow: 0 0 10px rgb(145, 166, 143);
}

.name_offfers{
    display: flex;
    align-items: center;
}

.text_ping{
    color: #dc699b;
}


.text_orange{
    color: #ff824a;
}

.text_green{
    color: #8ba98f;
}

.icon_offers{
    fill: currentColor;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}





.new h2, .sale h2{


    border-bottom: 1px solid #c3c3c3;
}

.figure{
    position: relative;

}
.circle_new:before, .circle_sale:before{

    color: #ffffff;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.circle_new:before{
    content: "new";
    background: #8ba98f;
}

.circle_sale:before{
    content: "-10%";
    background: #ff824a;
}

.new_items, .sale_items{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.figure{
    margin: 10px 0;

    border:1px solid #c3c3c3;
    width: calc(100%/4 - 25px);
    display: flex;
    flex-flow: column;
    align-items: center;
}

.link_items{
    display: block;
    margin: 10px;
    order: -1;
}

.name_items {
    text-align: center;
    margin: 15px 0;
}

.img_items{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.in_basket{
    display: flex;
    flex-wrap: nowrap;
    width: 94%;
}
.in_basket_btn{
    flex-basis: 100%;

}

.in_basket_btn, .bolt{
    display: flex;
    align-items: center;
    background: #dc699b;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px;
    margin: 15px 0;
    cursor: pointer;
    outline: none;
    justify-content: center;
}

.in_basket button:hover{
    background: #9a82df;
}
.icon_in_basket{
    fill: currentColor;
    width: 20px;
    height: 16px;
    padding: 5px;
}
.footer{
    display: flex;
    justify-content: flex-start;
    background: #666666;
    color: #ffffff;
}



.footer_info{
    font-style: normal;
    margin: 0 55px;
}

.footer_info li{
    padding: 3px 0;
}

.footer_info a:hover{
    text-decoration: underline;
}

.footer_h{
    border-bottom: 1px solid currentColor;
}

.footer_icon{
    fill: currentColor;
}


small{
    display: flex;
    justify-content: center;
    margin: auto;
    background: #232a6d;
    color: #ffffff;
}


@media screen and (max-width: 1080px){
    .figure{
        width: calc(100%/4 - 10px);
    }

}


@media screen and (max-width: 1010px){
    .header_nav li {
        padding: 10px 50px;
    }
    .kontakts {
        flex-basis: 45%;
    }

    .produkt_categories, .categories li{
        padding: 10px;
    }


}





@media screen and (max-width: 970px){
    .output_basket, .basket span, .all_categories{
        display: none;
    }
    main {
        min-width: 0;
        width: auto;
        min-height: 0;
    }

    .main{
        flex-flow: column;
    }

    aside{
        width: auto;
        margin: 0;
        order: 1;
        display: flex;
        justify-content: space-between;

    }

    .baner{
        margin: 0 20px;
        width: calc(100%/2 - 20px);

    }



    .new_items, .sale_items {
        margin: 0;
    }
    .footer_info{
        margin: 0 10px;
    }
}

@media screen and (max-width: 795px){


    .header_nav li {
        padding: 10px 20px;
    }

    .header_icon{
        width: 60px;
        height: 60px;
    }

    .basket{
        border: none;
        padding: 0;
    }

    .icon_shopping_cart{
        width: 40px;
        height: 40px;
    }

    .cart::after{
        bottom: 48px;
        right: 8px;
    }

    .enter a{
        padding-right: 20px;
        margin-right: 20px;
    }



 .figure{
        width: calc(100%/2 - 10px);
    }



 .payment_methods, .footer_menu{
     display: none;
 }
}

@media screen and (max-width: 670px){
    .kontakts{
        order: 1;
    }
    .header_social-icon, .header_nav, .kontakts{
        display: none;
    }


    .header_nav{
      position: absolute;
        z-index: 200;
        width: 100%;
        padding: 0;
        background: #f4f4f4;
    }


    .header_nav ul {
        flex-flow: column;

    }

    .header_nav ul li{
        background: #f4f4f4;
        color: #666666;
    }
    .header_nav ul li, .header_nav li:last-child{
        border-bottom: 1px solid #dc699b;
    }

    .header_nav ul li:hover{
        color: #dc699b;
    }





    .header_logo{
        background: #dc699b;
        margin: 0;
        color: #ffffff;
        justify-content: space-around;
    }

    .basket{
        margin: 0;
    }

    .icon_shopping_cart, .header_icon{
        fill: #ffffff;
    }

    .link_mobile_icon{
        display: block;
    }

    .mobile_icon:hover, .icon_shopping_cart:hover{
        fill: #9a82df;
    }

    .offers a{
        width: 100%;
        margin: 5px 0;
    }
}

@media screen and (max-width: 570px){


    .img_items{
        width: 90px;
        height: 90px;
    }

    .bolt{
        display: none;
    }

      .offers{
        display: none;
    }

      .all_slider.slick-initialized.slick-slider{
          display: none;
      }

}
@media screen and (max-width: 520px){
    aside{
        margin: 0 20px;
        flex-flow: column;
        align-items: center;
    }
    .baner{
        margin: 0 20px;
       width: 100%;
    }

    .img_baner{
        /*width: 100%;*/
    }

    .header_icon, .mobile_icon, .icon_shopping_cart{
        width: 30px;
        height: 30px;
        margin: 5px;
    }

    .cart::after{
        bottom: 28px;
        right: -14px;
    }

    .header_logo{
        font-size: 12px;
    }
    footer{
        flex-flow: column;
    }

    .kontakts_info{
        margin: 0 20px;
        padding: 5px;
    }


}